body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
}

.navbar-inverse {
    background-color: #3c8dbc;
    border-color: #357ca5;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-brand {
    float: left;
    font-size: 20px;
    height: 60px;
    line-height: 30px;
    padding: 15px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #357ca5;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background: #357ca5;
}

.navbar-nav > li > a {
    padding-bottom: 15px;
    padding-top: 15px;
    line-height: 30px;
    font-size: 15px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #357ca5;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #357ca5;
    color: #fff;
}

header.carousel {
    height: 90%;
    width: 100%;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

footer {
    background: #34495e none repeat scroll 0 0;
    padding: 25px 0 15px 0;
    width: 100%;
    position: absolute;
    text-align: center;
	color: #fff;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #3c8dbc;
	text-decoration: none;
}

.btn-daftar
{
    height: 60px;
    width: 60px;
    font-size: 30px;
    margin: 0px;
}

.h1-informasi
{
    font-size: 40px;
    margin: 0px;
}

.social-facebook a {
    font-size: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    padding: 10px 19.5px;
    background: #337ab7;
    color: #fff;
}

.social-facebook a:hover {
    border: 1px solid #337ab7;
    border-radius: 50px;
    background: #fff;
    color: #337ab7;
}

.social-twitter a {
    font-size: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    padding: 10px 14px;
    background: #5bc0de;
    color: #fff;
}

.social-twitter a:hover {
    border: 1px solid #5bc0de;
    border-radius: 50px;
    background: #fff;
    color: #5bc0de;
}

.social-google a {
    font-size: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    padding: 10px 14px;
    background: #d9534f;
    color: #fff;
}

.social-google a:hover {
    border: 1px solid #d9534f;
    border-radius: 50px;
    background: #fff;
    color: #d9534f;
}

/*search*/

.search {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #3c8dbc;
    box-shadow: none;
    background: url("../img/search.png") no-repeat 10px 8px;
    padding:0 1px 0 35px;
    color: #fff;
}

.search:focus {
    margin-top: 13px;
    margin-left: 5px;
    width: 250px;
    background: url("../img/search-icon.png") no-repeat 10px 7px #fff;
    border: 1px solid #eaeaea;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #7a7a7a;
    font-weight: 300;
}

.profile-user-info {
    display: table;
    margin: 0 auto;
    width: calc(100% - 24px);
}

.profile-info-row {
    display: table-row;
}

.profile-info-name {
    background-color: transparent;
    border-top: 1px dotted #d5e4f1;
    color: #667e99;
    display: table-cell;
    font-weight: 400;
    padding: 6px 10px 6px 4px;
    text-align: right;
    vertical-align: middle;
    width: 110px;
}

.profile-info-value {
    border-top: 1px dotted #d5e4f1;
    display: table-cell;
    padding: 6px 4px 6px 6px;
}
